body {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header {
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 10;
    background-color: black;
}

header .logo {
    background-image: url("../images/img-tea-cozy-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

header .menu {
    position: absolute;
    right: 10px;
}

header .menu li {
    display: inline-block;
    margin-left: 20px;
}

header .menu a {
    color: seashell;
}

main {
    width: 1200px;
    margin: 69px auto 20px auto;

}

.banner {
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.banner .section-heading {
    width: 100%;
    background-color: black;
}

.banner .section-heading h2 {
    margin: 18px 0;
}

.banner .section-heading h4 {
    margin: 18px 0;
}

.teas-section {
    width: 1000px;
    margin: 50px auto;
}

.teas-section .tea-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-items .tea-item {
    width: 300px;
    margin: 15px 15px;
}

.tea-items .tea-item .tea-image{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

